<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tayor.karz">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".views.sign_in.SignInActivity">
        </activity>
        <activity android:name=".views.car.BookCarActivity" android:label="Book" />
        <activity android:name=".views.payment.PaymentActivity" android:label="Payment" />
        <activity
            android:name=".views.profile.ProfileActivity"
            android:label="Profile" />
        <activity android:name=".views.profile.EditProfileActivity" android:label="Edit"/>
        <activity android:name=".views.history.HistoryDetailsActivity" />
        <activity android:name=".views.receipt.ReceiptActivity" android:label="Receipt" />
        <activity android:name=".views.sign_in.RegisterActivity" android:label="Sign Up" />
        <activity android:name=".views.license.DriverLicenseActivity" android:label="License" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>