<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deeppatel.car_rerntal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Customer.EditCustomer"></activity>
        <activity android:name=".Cars.EditCar" />
        <activity android:name=".Renting_Process.Receipt" />
        <activity android:name=".Renting_Process.Payment" />
        <activity android:name=".Renting_Process.RentInfo" />
        <activity android:name=".Renting_Process.SearchForCustomer" />
        <activity
            android:name=".Returning_Process.ReturnDetails"
            android:label="@string/return_automobile" />
        <activity
            android:name=".Home"
            android:label="@string/title_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>